.main{
    .zilla-slab highlight-regular {
        font-family: "Zilla Slab Highlight", serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .zilla-slab highlight-bold {
        font-family: "Zilla Slab Highlight", serif;
        font-weight: 700;
        font-style: normal;
      }
      
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
  
}
.sidebar{
background: color black;
 width: 20rem;/*1rem=16px */
 border-radius: 1rem;
 margin-right: 0.5rem;

}
.maincontent{
background-color:black;
flex: 1;
overflow: auto;
border-radius: 1rem;
padding: 0 1.5rem 0 1.5rem;
}
.musicplayer{
background-color:#323232;
position: fixed;
bottom: 0px;
height: 72px;
width:100% ;

}
a{
  text-decoration: none;
  color: white;

}
.nav{
  background-color: #222222;
  border-radius: 1rem;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  
}
.navoption{
  line-height: 2.5rem;

  opacity: 0.7;
  padding: 0.5rem;
  
}
.navoption:hover{
  opacity: 1;
}
.navoption i{
  font-size: 1.25rem;
}
.navoption a{
  font-size: 1rem;
  padding-left: 1rem;
}
.library{
  background-color:#222222;
  border-radius: 1rem;
  height: 100%;
  margin-top: 0.5rem;
  padding:  0.5rem 0.75rem;

 
}
.options{
  display: flex;
  justify-content: space-between;

}
.liboptions i{
  font-size: 1.25rem;
}
.icons{
  font-size: 1.25rem;
  display: flex;
}
.icons i{
  opacity: 0.7;
  margin-right: 1rem;
}
.icons i :hover{
  opacity: 1;
}
.box{
  height: 8rem;
  background-color: #323232;
  border-radius:0.75rem ;
  margin: 0.95rem 0 2rem 0;
  padding: 0.5rem 1rem;
 
}
.box-p1{
  font-size: 1.1rem;
  font-weight:700 ;

}
.box-p2{
  font-size: 0.85rem;
  opacity: 0.9;
}
.badge{
background-color: white;
border: none;
border-radius: 100px;
padding:0.25rem 1rem ;
font-weight: 700;
height: 2rem;
width: fit-content;
/* margin: 0.5rem; */
}
.sticky-nav{
  position: sticky;
  background-color: #121212;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

}
.sticky-icons{
  font-size: 1rem;
  display: flex;
margin-left: 1rem;
}
.sticky-icons i{
  padding: 5px;
}
.sticky-badges{
  display: flex;
  flex: row;
  align-items: center;
  justify-content: center;
}
.sticky-badges button{
  margin-right: 1rem;
}
.dark-badge{
  background-color:#000;
  color: #fff;
  
}
@media(max-width:1000px){
  .hide{
    display: none;
  }
}
.card{
  background-color: #232323;
  width: 150px;
  padding: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;

}
.card-title{
  font-weight: 800;
}
.card-info{
  font-size: 0.8rem;
  opacity: 0.5;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  
}
.card-img{
  width: 100%;
  border-radius: 0.5rem;
}
.footer{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line{
  width: 90%;
  height:30% ;
  border-top: 2px solid white;
  opacity:0.4 ;

}
.musicplayer{
  display: flex;
 
}
.album{
  width: 25%;
}
.player{
  width: 50%;
}
.control{
  width:25%;
}
.player_control i{
  size: 1rem;
  margin-right: 1;
}
/* .player_control i :hover{
  opacity: 1;
} */
/* .fa-regular fa-circle-pause{
  opacity: 1;
  height: 2 rem;
} */
.player_control{
  display: flex;
  justify-content: center;
  align-items: center;

}

 
.playback_bar{
  width: 35rem; 
  display: flex;
  justify-content: center;
  align-items: center;

  
}
.progress-bar{
  border-radius: 50%;
  appearance: none;
  width: 70%;
}